body{
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0% auto;
    padding: 0 16px;
    background-color: steelblue;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#main-content{
    flex-grow: 1;
}
footer{
    color: darkgray;
    border-top: solid #eeeeee;
    margin-top: 16px;
    padding: 16px;
}
header{
    margin-top: 16px;
    margin-bottom: 48px;
}
h1{
    font-size: 64px;
    margin-bottom: 16px;
}

button{
    background-color: wheat;
    display: inline-flex;
    border-radius: 0.25rem;
    cursor: pointer;
}
button:hover{
    color: azure;
}
#tab-1{
padding: 1rem;
font-style: italic;
font-size: large;
}

header a{
    color: darkgray;
    font-size: 20px;
    margin-right: 16px;
    text-decoration: none
    
}
#help-css{
    font-size: 32px;
    color: #333333;
}
.img{
    width: 250px;
    height: 150px;
}
#img1{
    width: 60px;
    height: 60px;
}
#row{
    display: flex;
}
