<head>
    <link rel="stylesheet" href="styling.css">
</head>
<h2 class="title">Weather-App</h2>
<div class="partials">
    <a href="/index"> Weather </a>
    <a href="/about">About </a>
    <a href="/help">Help-me </a>
</div>