<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="weather1.png">
    <link rel="stylesheet" href="styling.css">
    <title>About</title>
</head>
<body>
    {{>header}}
    <h1>Weather-data</h1>
    <p>Created by Aradhya</p>
    {{>footer}}
</body>
</html>