<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styling.css">
    <title>404!!</title>
</head>
<body>
<div id="center">
    <h1>ERROR 404</h1>
    <h1>{{title}}</h1>
    <P>CLICK BELOW</P>
    {{>header}}
</div>
</body>
</html>