<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="weather1.png">
    <link rel="stylesheet" href="styling.css">
    <title>Help</title>
</head>
<body>
<div id="main-content">
    {{>header}}
    <h1 id="help-css">Help-page</h1>
    <p>This is Aradhya Tripathi,a CSE sophomore,available for your help.In case of any queries, ping me at <a href="mailto: arutripathi011@gmail.com">arutripathi011@gmail.com</a> !! </p>
    </div>
    {{>footer}}
</body>
</html>