<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="weather1.png">
    <link rel="stylesheet" href="styling.css">
    <title>Help</title>
</head>
<body>
<div id="center">
    {{>header}}
    <h1>help-page</h1>
    {{>footer}}
</div>
</body>
</html>