<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="weather1.png">
    <link rel="stylesheet" href="styling.css">
    <title>Help</title>
</head>
<body>
<div id="main-content">
    {{>header}}
    <h1 id="help-css">Help-page</h1>
    </div>
    {{>footer}}
</body>
</html>