<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="weather1.png">
    <link rel="stylesheet" href="styling.css">
    <title>Weather</title>
</head>
<body>
    <div id="main-content">
    {{>header}}
    <img src="weatherpic.png" alt="'-'" class="img">
    <form>
        <input placeholder="City_Country">
        <button>Search</button>
    </form>
     <p id="msg-1"></p>
     <div id="row">
         <table id="tab-1"></table>
        <img src="default.gif" id="img1"/>
    </div>
    </div>
    <script src="clientjs.js"></script>
    {{>footer}}
</body>
</html>